/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    

}
/* RESET */
.centered{
    margin: 0 130px;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

/* Parte Menu  */
.menu-left li{
    padding: 8px 0;
}
nav img{
    margin-right: 20px;
}

nav li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}
nav li:hover {
    border-bottom: solid 2px #0061ff;
}

nav li a{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    color: black;
    height: 100%;
    font-weight: 600;
}

.menu-right{
    display: inline-block;
    float: right;
    
    
}
.menu-left{
    
    display: inline-block;
    float: left;
    
}

nav{
    width: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    padding: 0 10px;
    background-color: white;
    z-index: 1;
    
}
nav .button{
    background-color: #0061ff;
    display: inline-block;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.dropdown-menu-padre{
    position: relative;

}
.dropdown-menu-figlio{
    display: none;
    position: absolute;
    top: 55px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    font-size: 0.8em;
    width: 200px;
}
.dropdown-menu-padre:hover .dropdown-menu-figlio { 
    display: block;
}


/* Prima sezione  */

.section-1{
    background-color: #b4d0e7;
    margin-top: 50px;
    padding-top:  50px; ;
    text-align: center;

}

.container-section1{
    display: inline-block;  
}

.text-section1{
    display: inline-block;
    width: 30%;
    
    text-align: left;
    height: 350px;
}
.text-section1 div{
    margin: 30px 0;

}
.text-section1 i{
    font-size: 3em;
}
.text-section1 a{
    background-color: #0061ff;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
.img-section1{
    display: inline-block;
    width: 60%;
    
}
.img-section1 img{
    width: 100%;
    margin-bottom: -200px;
}

h1{
    font-size: 4em;
    font-weight: 900;
    font-family:'Lato', sans-serif;
    text-align: left;
    margin-bottom: 30px;  
}

/* Seconda sezione */
.section-2{
    text-align: center;
    margin-top: 100px;
}

.subscription{
    margin: 20px 0;
}
.subscription-2{
    margin-left: 20px;
}
.subscription-1::before{
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px ;
    line-height: 5px;
    background-color: white;
    border-style: inset;

    border: #0061ff 5px solid;
    border-radius: 50%;
    vertical-align: middle;
}
.subscription-2::before{
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px ;
    line-height: 5px;
    background-color: white;
    border: lightslategray 1px solid;
    border-radius: 50%;
    vertical-align: middle;
}

.section-2 li{
    margin: 10px 0;
}

h3{
    margin: 20px 0px;
}
h4{
    margin-bottom: 20px;
}
.price{
    font-weight: bold;
    margin: 10px 0;
}
.light-grey{
    color: lightslategrey;
    font-weight: lighter;
    font-size: 0.9em;
}
.plan-description{
    margin:  30px 0px;
    
}
.container-section2{
    width: 70%;
    display: inline-block;
    text-align: left;
}
.container-columns{
    display: inline-block;
    text-align: center;
    width: 70%;
    margin-top: 100px;

}

.container-section2 h2{
    font-size: 2.5em;
    padding: 50px 0;
}

.column-1{
    display: inline-block;
    min-height: 900px;
    width: calc((100%/3) - 20px);
    border: lightslategray 1px solid;
    float: left;
    
    
}
.column-2{
    display: inline-block;
    min-height: 900px;
    width: calc((100%/3) - 20px);
    border: lightslategray 1px solid;  
    margin: 0 30px;
    float: left;
}
.column-3{
    display: inline-block;
    min-height: 900px;
    width: calc((100%/3) - 20px);
    border: lightslategray 1px solid;
    float: left;
    
}
.row-container2{
    border: lightslategrey 1px solid;
    width: 100%;
    margin-top: 20px;
    float: left;
}
.container-row{
    margin: 0 20px;
}
.container-row .button{
    float: right;
    margin: 0 20px;
    margin-top: 20px;
}
.container-row p{
    margin-bottom: 20px;
}

.row-container2 h3{
    display: inline-block;

}
.top-row{

    border: lightslategray 1px solid;
    padding: 5px;
    text-align: center;

    
}
.top{
    border: lightslategray 1px solid;
    padding: 5px;
    text-align: center;
}

.container-columns li{
      margin-left: 15px;
}
.container-columns{
    text-align: left;
    margin: 0 20px;
}

.container-columns .button {
    background-color: #0061ff;
    display: inline-block;
    color: white;
    padding: 5px 20px;
    margin-bottom:  30px;
}
.container-columns .button a{
    color: white;   
}
.container-columns .button a{
    text-decoration: none;
}
.container-columns hr{
    width: 20%;
    margin: 30px 0;
}
.container-columns li{
list-style-type: none;
}
.container-columns .user-solid{
    list-style-image:url(../img/user-solid.svg) ;
}
.container-columns .folder-solid{
    list-style-image:url(../img/folder-solid.svg) ;
}
.container-columns .pencil-solid{
    list-style-image:url(../img/pencil-solid.svg) ;
}
.container-columns .user-plus{
    list-style-image:url(../img/user-plus-solid.svg) ;
}
.container-columns .face-smile{
    list-style-image:url(../img/face-smile-regular.svg) ;
}

.check-solid{
    list-style-image: url(../img/check-solid.svg);
}

 /* Terza sezione */
.section-3{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.section-3 a{
    text-decoration: none;
    color: black;
    padding: 5px;
    
    
}
.section-3 span{
    border: black 2px solid;
    padding:5px;
    float: left;
    margin-top: 20px ;
}
.container-section3{
    width: 100%;
}

.img-section3{
    display: inline-block;
    width: 50%;
    float: left;
} 
.text-section3{
    width: 40%;
    display: inline-block;
    float: left;
    margin: 20px 40px;
}
.img-section3 img{
    width: 100%;
}
/* Quarta sezione */

.section-4{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.rows-section4 div{
    width: calc((100%/3) - 80px);
    display: inline-block;
    float: left;
    margin: 50px 40px ;
}

.rows-section4 img{
    width: 100%;
}

.section-4 h2{
    font-size: 2.5em;
    padding: 50px 0;
}

/* Quinta sezione */

.text-section5{
    width: 70%;
    margin: 0 auto;
}
.text-section5 h2{
    margin-bottom: 30px;
    font-size: 2.5em;
}
.text-section5 a{
    display: inline-block;
    margin-bottom: 30px;

}

.box1-section5{
    display: inline-block;
    float: left;
    width: 30vw;
    height: 30vw;
    
    

}
.box2-section5{
    display: inline-block;
    float: left;
    width: calc(100% - 60vw);
    height: 30vw;
    background-color:#f5f5f5;   

}

.box2-section5 img{
    width: 30%;
}
.container-box2{
    margin: 40px;
    height: 100%;
}
.container-box2 hr{
    margin: 30px 0;
    width: 30%;
}
.container-box2 p{
    margin-bottom: 20px;
}
.text-box2{
    overflow: auto;
    height: 60%;

}


.box3-section5{
    display: inline-block;
    float: left;
    width: 30vw;
    height: 30vw;
    

}

.box1{

    display: inline-block;
    width: 50%;
    height: 50%;
    background-color:#a2d39b;
    float: left;
    position: relative;
    border: 5px solid #d0e9cd;


}

.box2{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color: #61082b;
    float: left;
    position: relative;
}

.box3{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color: #0093ce;
    float: left;
    position: relative;
}

.box4{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color:#ff1c1c;
    float: left;
    position: relative;
}
.box5{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color:#d5001f;
    float: left;
    position: relative;


}

.box6{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color: #b4d0e7;
    float: left;
    position: relative;
}

.box7{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color: #0d2481;
    float: left;
    position: relative;
}

.box8{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color:#ffd830;
    float: left;
    position: relative;
}

.box1-section5 img{
    width: 70%;
    position: absolute;
    transform: translate( -50% , -50%);
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    filter: invert(100%);
}

.box3-section5 img{
    width: 70%;
    position: absolute;
    transform: translate( -50% , -50%);
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    filter: invert(100%);
}

.box4-section5{
    display: inline-block;
    width: 100%;
    float: left;
    background-color: #b4d0e7;

}
.container-box4{
    margin: 100px auto;
    width: 70%;

}
.container-box4 h2{
    display: inline-block;
    font-size: 2.5em;

}
.container-box4 span{
    float: right;
    margin-right: 50px;
}
.container-box4 a{
    background-color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
}
/* Sezione 6 */

.section-6{
    width: 70%;
    margin: 100px auto;  
}
.section-6 h3{
    margin-bottom: 100px;
}

.fa-solid, .fa-angle-down{
    width:8% ;
    text-align: right;
}
.domande-section6:hover .fa-angle-down {
    display: none;

}
.domande-section6 .fa-angle-up {
    display: none;

}
.domande-section6:hover .fa-angle-up {
    display: inline-block;

}


.section-6 span{
    display: inline-block;
    width: 90% ;
    margin: 35px 0;
    font-weight: bold;
}
.section-6 p{
    margin-bottom: 35px;
    display: none;
}
.domande-section6:hover p{
    display: inline-block;
}

.section-6 hr{
    width: 100% ;
}
.section-6 h3{
    font-size: 2em;
}
/* Footer */
footer{
    background-color: black;
}
.container-footer{
    color: white;
    width: 80%;
    margin: 0 auto;

}
.container-footer ul{
    list-style: none;
    float: left;
}
.container-footer a{
    text-decoration: none;
    color: white;
}
.container-footer div{
    display: inline-block;
    margin: 100px 0;
    margin-right: 50px;
}
.container-footer h5{
    margin-bottom: 30px;
    font-size: 1.2em;
}
.container-footer li{
    margin-bottom: 15px;

}
.container-footer hr{
    width: 10%;
    margin-bottom: 30px;
}
.container-footer span{
    display: inline-block;
    margin-left: 10%;
}




